<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<!-- amespace和定义的Mapper接口对应，并实现其中的方法 -->
<mapper namespace="com.mn.zq.model.dao.BaseModuleMapper">
    
    <resultMap type="com.mn.menu.model.BaseModule" id="baseModuleMapper">
		<id property="id" column="ID" />
		<result property="name" column="NAME" />
		<result property="head" column="HEAD" />
		<result property="url" column="ORDERNO" />
		<result property="orderNo" column="PARENTID" />
		<result property="parentId" column="URL" />
		<result property="sn" column="SN" />
	</resultMap>
    
    <!-- id和mapper接口中的方法名对应，resultType使用mybatis.xml中的别名 -->
	<select id="getBaseModuleList" resultType="com.mn.menu.model.BaseModule">
	    	SELECT * 
	    	FROM BASE_MODULE
	    	WHERE 1=1
	    	<if test="head != null">
				AND HEAD = #{head}
			</if>
	</select>
	
	
</mapper>